<!-- posts/templates/base.html -->

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Post-list{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
</head>
<body> 
    <header>
        <h1><a href="{% url 'post_list' %}">게시물 목록 페이지 개발</a></h1>
    </header>

    <nav>
        <ul>
            <li><a href="{% url 'post_list' %}">홈</a></li>
            <li><a href="{% url 'post_create' %}">게시물 작성</a></li>
        </ul>
    </nav>

    <main>
        {% block content %}
        {% endblock %}
        
        {% block pagination %}
        {% endblock %}


        {% block extra_js %}
        {% endblock %}

    </main>
        <footer>
            <p>&copy; 2023 어터 Assignment</p>
        </footer>

</body>
</html>
