{% extends "base.html" %}

{% block title %}게시물 목록{% endblock %}
{% block extra_head %}
{% load static %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}

{% block content %}
    <h1>게시물 목록</h1>
    <input type="text" id="search-field" placeholder="검색...">
    <button onclick="searchPosts()">검색</button>
    <button onclick="resetSearch()">기본 목록으로</button>
    <div id="posts-list">
    </div>
    <div id="pagination">
    </div>
{% endblock content %}

{% block extra_js %}
<script src="{% static 'js/posts.js' %}"></script>
{% endblock extra_js %}